.App {
  max-width: 600px;
  margin: 40px auto;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  line-height: 40px;
  margin-top: -5px;
  margin-left: 12px;
  font-size: 54px;
  text-transform: capitalize;
}
h2 {
  font-size: 18px;
  font-weight: 600;

  line-height: 22px;

  margin-left: 15px;
}
p {
  font-size: 14px;
}
ul {
  padding: 0;
  text-align: center;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #ffff;
}
